* {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: white;
  user-select: none;
}

button {
  display:block;
  height: calc(95vh/9);
  width: calc(95vh/9);
  border-radius: 50%;
  border: 1px solid transparent;
}

#phone {
  height: 95vh;
  width: 50vh;
  background-color: #fca305;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 99%;
  margin: 1%;
}

#container, #phone {
  border-radius: 50px;
}

#display {
  width: 100%;
  height: 30%;
  text-align: right;
  position: relative;
  pointer-events: none;
  overflow: hidden;
}

#display > p {
  width: 85%;
  font-size: 70px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


#btns {
  width: 90%;
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#btns-l {
  width: 76%;
  display: flex;
  flex-direction: column;
}

#btns-top {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#btns-top > button {
  background-color: #a5a5a5;
  color: black;
}

@keyframes btnsTopClick {
  0% { background-color: #cacaca; }
  100% { background-color: #a5a5a5;}
}

#numbers {
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

#numbers > button {
  background-color: #333333;
}

@keyframes numbersClick {
  0% { background-color: #7c7c7c; }
  100% { background-color: #333333;}
}

#btn0 {
  order: 2;
  width: calc(95vh/4.5);
  border-radius: 30%/50%;
  padding-left: 12.5%;
  text-align: left;
}

#decimal {
  order: 1;
}

#btns-r {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#btns-r > button {
  margin: 4px 0px;
  background-color: #fca305;
}

@keyframes btnsRClick {
  0% { background-color: #ffbd80; }
  100% { background-color: #ffe9c4; }
}

@keyframes btnsRClickOff {
  0% { background-color: #ffe9c4; }
  100% { background-color: #fca305; }
}

.active-btn-r {
  background-color: #ffe9c4;
  color: #fca305;
}